# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build
build/
caches/

# Environment
.env.local
.env.*.local

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Web
.next/
out/
